<div class="row text-center">
  <div class="col-md-12">
    <h1>Raspberry PI On Board Camera</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12" id="capture">
    <img src="/images/camera.png" class="img-fluid" alt="Responsive image" width=300>
  </div>
</div>


<div class="row text-center">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" id="takepicture">Take picture</button>
  </div>
 
</div>